@media (max-width: 768px)
{
    .text
    {
        width: 100%;
        /*padding-top: 10vh;*/
        font-size: 60px;
        text-align: center;
    }
    .clock
    {
        width: 60vw;
        height: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media (max-height: 640px)
{
    .text
    {
        width: 100%;
        /*padding-top: 10vh;*/
        text-align: center;
    }
    .clock
    {
        width: 60vh;
        height: 60vh;
        margin-left: 20vh;
        margin-right: 20vh;
    }
}