@media only screen and (max-width: 768px)
{
    .text
    {
        width: 100%;
        /*padding-top: 10vh;*/
        text-align: center;
    }
    .clock
    {
        width: 60vw;
        height: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
        height: width;
    }
}