*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #091921;
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock
{
    max-width: 100%;
    width: 350px;
    height: 350px;
    /*padding-left: 400px;
    padding-right: 400px;*/
    margin-left: 50px;
    margin-right: 50px;
    /*left: 0%;*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url("../images/clock.png");
    background-size: cover;
    position: relative;
    /*padding: 50px 50px;*/
    border: 4px solid #091921;
    border-radius: 50%;
    /*box-shadow: 0 -15px 15px rgba(255,255,255,.05),
                inset 0 -15px 15px rgba(255,255,255,.05),
                0 -15px 15px rgba(0,0,0,0.05),
                inset 0 -15px 15px rgba(0,0,0,0.05);*/
    box-shadow: -1px -1px 6px rgba(255,255,255,.16),
                2px 2px 12px rgba(0,0,0,.9),
                inset -2px -2px 16px rgba(255,255,255,.07),
                inset 2px 2px 16px rgba(0,0,0,.75);
}
.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour, .hr
{
    width: 160px;
    height: 160px;
}
.clock .min, .mn
{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc
{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
    transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: linear-gradient(180deg,#ff105e,#2238ff);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.container .row .text h2
{
    text-align: center;
    /*max-width: 100%;*/
    font-size: 40px;
    font-weight: 600;
    padding-top: 128px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.4em;
}
.container .row .text h2 a
{
    text-decoration: none;
    position: static;
    color: #091921;
    display: inline-flex;
    position: initial;
    overflow: hidden;
    border: 1px;
    border-radius: 50vmin;
    padding: 2px 15px 8px 14px;
    background: linear-gradient(90deg,#ff105e,#2238ff);
}

.container p
{
    color: #215e65;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 5px;
}
.container label
{
    position: relative;
}
.container label input
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.container label .fa
{
    position: relative;
    width: 60px;
    height: 60px;
    background: #091921;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6f6f6f;
    font-size: 24px;/*or24*/
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255,255,255,.1),
                2px 2px 6px rgba(0,0,0,.8);
}
.container label .fa-check
{
    margin-left: 3.2em;
    margin-right: 0.5em;
}
.container label .fa-times
{
    margin-right: 3.2em;
    margin-left: 0.5em;
}
.container label .fa:hover
{
    box-shadow: -1px -1px 3px rgba(255,255,255,.1),
                2px 2px 6px rgba(0,0,0,.8),
                inset -2px -2px 10px rgba(255,255,255,.05),
                inset 2px 2px 10px rgba(0,0,0,.5);
}
.container label input:checked ~ .fa
{
    color: #00fff1;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,.1),
                inset 2px 2px 6px rgba(0,0,0,1);
    text-shadow: 0 0 5px #00fff1,
                 0 0 20px #00fff1;
}/*
.container label input:checked ~ .fa-times
{
    color: #ff101c;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,.1),
                inset 2px 2px 6px rgba(0,0,0,1);
    text-shadow: 0 0 5px #ff101c,
                 0 0 20px #ff101c;
}*/

span
{
    position: absolute;
    background: #091921;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear infinite;
}
@keyframes animate
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}